*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
    /* border-radius: 50px; */
}

html {
    font-size: 10px;
    background: url('./++IMG_20221106_155010_183.jpg') center;
    background-size: cover;
}

/* body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, black, gray);
} */

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center; /*align-content vs. align items is what fixed problem*/
    min-height: 100vh;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(100px, auto) repeat(5, 60px); /* minmax this is where i can change it to be how i want instead of new lines for long numbers shrink the font size */
}

.calculator-grid > button {
    font-size: 1.5rem;
    border: .5px solid black;
    outline: none;
    /* margin: 5px; */
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > .operation {
    background-color: rgba(253, 152, 36, 0.904);
}

.calculator-grid > .operation:active {
    background-color: rgba(182, 131, 78, 0.904);
}

.calculator-grid > .clear:active {
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > .span-two-and-clear:active {
    grid-column: span 2;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:active {
    background-color: rgba(255, 255, 255, .9);
    /* border-radius: 25px; */
}

.span-two {
    grid-column: span 2;
}

.calculator-grid > .span-two-and-clear {
    grid-column: span 2;
    background-color: rgba(255, 255, 255, .5);
}

.calculator-grid > .clear {
    background-color: rgba(255, 255, 255, .5);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all; /* also here could be what causes it to wrap when i really want it to shrink instead */
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}
